*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(images/back.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    margin-bottom: 20vh;
    background-attachment: fixed;
}

header {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    height: 10vh;
}

.logos {
    flex: 1;
}

.nav-bar{
    display: flex;
    margin: auto;
    justify-content: space-around;
    list-style: none;
    font-size: 18px;
}

.myLinks {
    text-decoration: none;
    color: black;
    opacity:0.8;
}

.myLinks::after {
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background: lightgray;
    transition: width .3s
}


.myLinks:hover::after{
    width: 100%;
    transition: width .3s;
}
nav {
    flex: 0.2;
}

.socials {
    flex: 1;
    text-align: center;
    text-decoration: none;
}

.presentation {
    display:flex;
    align-items: center;
    min-height: 70vh;
}

.about-presentation {
    display:flex;
    align-items: center;
    min-height: 30vh;
}

.about-intro {
    text-align: center;
    flex: 2;
}

.about-img {
    text-align: center;
    flex:1;
}

.about-intro h1 {
    font-size: 40px;
    font-weight: 300;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-intro p {
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    color: #dbdae4;
}
.intro {
    text-align: center;
    margin: auto;
}

.intro h1 {
    font-size: 60px;
    font-weight: 200;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: type 7s steps(15) infinite;
    margin: auto;
    overflow:hidden;
    white-space:nowrap;
    border-right:3px solid #494964;
    border-right-width: 2px;
    line-height: 65px;
}

@keyframes type {
    0% {
      width:0ch;
    }
    30% {
      width: 15ch;
    }
    80% {
      width: 15ch;
    }
    100% {
      width: 0ch;
    }
  }

.intro p {
    margin-top: 5px;
    font-weight: 200;
    font-size: 18px;
    color: #585772;
}

.circle-here{
    border:2px solid lightblue;
    border-radius:50%;
    background:rgba(0,0,0,0);
    background-color: lightblue;
    width: 150px;
    height: 150px;
    text-align:center;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    z-index:-1;
}

.myCircles {
    display: inline-block;
    align-items:block;
}


.circle-blue{
    border:2px solid lightblue;
    border-radius:50%;
    background:rgba(0,0,0,0);
    background-color: lightblue;
    width: 500px;
    height: 500px;
    text-align:center;
    position: absolute;
    min-height:0vh;
    margin-left: -900px;
    margin-top: -700px;
    z-index:-1;
    opacity: 0.7;
}

.circle-red{
    border:2px solid lightcoral;
    border-radius:50%;
    background:rgba(0,0,0,0);
    background-color: lightcoral;
    width: 65vw;
    height: 65vmin;
    text-align:center;
    position: absolute;
    margin-left: 55vw;
    margin-top: -90vmin;
    z-index:-1;
    opacity: 0.7;
}

ul {
    list-style: none;
    margin-top:2px;
}

.presentation li {
    display: inline-block;
    margin-right: 1em;
    font-size: 180%;
}
.presentation li a {
    color: #585772;
    transition: color 0.5s;
}

.intro a:hover > .fa-linkedin{
    color:#0077b5;
  }

.intro a:hover > .fa-github{
    color:#333333;
}

.intro a:hover > .fa-envelope{
    color:#bd081c;
}
footer {
    background: green;
}