*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    height: 10vh;

}

.logos {
    flex: 1;
}

.nav-bar{
    display: flex;
    margin: auto;
    justify-content: space-around;
    list-style: none;
    font-size: 18px;
}

.myLinks {
    text-decoration: none;
}
nav {
    flex: 3;
}

.socials {
    flex: 1;
    text-align: center;
    text-decoration: none;
}

.presentation {
    display:flex;
    align-items: center;
    min-height: 70vh;
}

.intro {
    text-align: center;
    margin: auto;
}

.intro h1 {
    font-size: 40px;
    font-weight: 300;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro p {
    margin-top: 5px;
    font-weight: 200;
    font-size: 18px;
    color: #585772;
}

.circle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    width: 40%;
    opacity: 0.6;
}

.circle-here{
    border:2px solid lightblue;
    border-radius:50%;
    background:rgba(0,0,0,0);
    background-color: lightblue;
    width:500px;
    height:500px;
    text-align:center;
    line-height:100px;
    top:-100px;
    right:-100px;
    position: absolute;
}

.circle-orange{
    border:2px solid lightcoral;
    border-radius:50%;
    background:rgba(0,0,0,0);
    background-color: lightcoral;
    color:solid lightcoral;
    width:500px;
    height:500px;
    text-align:center;
    line-height:100px;
    top:-300px;
    right:1200px;
    position: absolute;
    opacity: 0.6;
    z-index: -1;
}

.circle-gray{
    border:2px solid lightgray;
    border-radius:50%;
    background:rgba(0,0,0,0);
    color:white;
    background-color: lightgray;
    width:600px;
    height:600px;
    text-align:center;
    line-height:100px;
    top: 550px;
    right:750px;
    position: absolute;
    opacity: 0.6;
    z-index: -1;
}